spring:
  application:
    name: cpmt-biz
# rabitmq will used in future
  rabbitmq:
    addresses: 10.100.10.155
    port: 5672
    username: test
    password: 123456
#used management port to refresh
  redis:
    database: 4
    host: 10.100.10.155 #read from config-server
    port: 6680
    password: test
    timeout: 123456
    pool:
      max-active: 20
      max-wait: 2000
      max-idle: 10
  datasource:
    main: 
      driver-class-name: com.mysql.jdbc.Driver
#      url: ${ds.url}
#      username: ${ds.username}
#      password: ${ds.password}
#      url: jdbc:mysql://10.3.10.167:3307/anjian?autoReconnect=true&failOverReadOnly=false&useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true
#      username: root
#      password: 123456
      url: jdbc:mysql://172.16.11.105:3308/anjian?autoReconnect=true&failOverReadOnly=false&useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true
      username: worker
      password: RM0pwru4
      hikari:
        maximum-pool-size: 100
        minimum-idle: 50
        connection-timeout: 10000
        connection-test-query: SELECT 1
    read: 
      driver-class-name: com.mysql.jdbc.Driver
      url: jdbc:mysql://172.16.11.105:3308/anjian?autoReconnect=true&failOverReadOnly=false&useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true
      username: worker
      password: RM0pwru4
      hikari: 
        maximum-pool-size: ${ds.read.maximum.pool.size}
        minimum-idle: 100
        connection-timeout: 10000
        connection-test-query: SELECT 1
  data:
    mongodb:
      first: #当前库 
        host: 172.16.11.95
        port: 27017
        username: bms
        password: abc123smb
        database: bmsc
        authentication-database: bmsc
      second: #监控库
        host: 172.16.11.95
        port: 27017
        username: bms
        password: abc123smb
        database: bmsc
        authentication-database: bmsc
      third: #历史库
        host: 172.16.11.95
        port: 27017
        username: bms
        password: abc123smb
        database: bms
        authentication-database: bms
  jackson:
    serialization:
      fail-on-empty-beans: false
    default-property-inclusion: non-null
    deserialization:
      fail-on-unknown-properties: false
    
    
mybatis:
  config-location: classpath:/mybatis-config.xml

server:
  port: 28070
email.official: 1
logging:
  level:
    root: ERROR
    com.cpit.cpmt: INFO
ds.if.dynamic: off